<!DOCTYPE html>
<html>
<head>
	<title>webgui</title>
	<script>
		function calculateRows(textarea) {
			var lineheight = parseInt(textarea.style.lineHeight) || 12; //line-height: 12px;
			var scrollheight = textarea.scrollHeight;
			// console.clear();
			// console.log(Math.floor(scrollheight / lineheight));
			return Math.floor(scrollheight / lineheight)
		}

		function beforeSubmit(form_id) {
			textInput = document.getElementById('keyword');
			inputRows = document.getElementsByName('inputrows')[0];
			inputRows.value = calculateRows(textInput);
			document.getElementById(form_id).submit();
			return false;
		}
		function doClear() {
			document.getElementById('keyword').value = '';
		}
		function doClearTime() {
			document.getElementById('tz').value = 'AEST';
			document.getElementById('duration').value = '15m';
		}
	</script>
	<style>
	  #customers {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
	  }

	  #customers td, #customers th {
		border: 1px solid #ddd;
		padding: 4px;
		word-wrap: break-word;
	  }

	  #customers tr:nth-child(even){background-color: #f2f2f2;}

	  #customers tr:hover {background-color: #ddd;}

	  #customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	  }

	</style>
</head>
<body>
    <h1>Search Log</h1>
    <form action="/searchlog" method="POST" id="searchlog" onsubmit="try { beforeSubmit('searchlog'); } catch (e) { window.alert (e); }" >
        <table>
            <tr>
                <td><label for="keyword">Keyword: </label></td>
				<td title="keyword to search, Use & or + to combine filter and - or ! to negate. Example 'errcd & error + !ehealth + -build' will search contains errcd and error exclude ehealth exclude build. Start with 'SELECT' or 'select' to execute raw select sql with same time range. Example search by json data 'select * from log, json_each(message) WHERE json_valid(message) = 1 AND json_extract(json_each.value, '$.somefieldname_or_path') like '%sometext%''"><textarea rows = "{{ .inputrows }}" cols = "40" name = "keyword" id="keyword">{{ .keyword }}</textarea>
				<input type="hidden" name="inputrows" value="1">
				</td>

				<td><input type="checkbox" name="sortorder" value="DESC" {{ .sortorder }}>Sort Descending</td>
				<td><input name="duration" id="duration" type="text" value="{{ .duration }}" title="Time range, eg. 15m for 15 minutes ago. Or dd/mm/yyyy hh:mm:ss - dd/mm/yyyy hh:mm:ss"/></td>
				<td><input name="tz" id="tz" type="text" value="{{ .tz }}" title="TimeZone"/></td>
				<td><input type="submit" value="save_values" name="save_values" title="used to save the current values to session. It should autosave in POST request but if you want to filter record by id and narrow down the time range which might be different from the previous post request, adjust the time frame and click this button. Then go back to page and click the link by ID again">
				&nbsp;<a href="/log/load">Save Log Manually</a>
				</td>
            </tr>
            <tr>
				<td colspan="2" align="center">
					<input type="button" value="reset" onclick="doClear();">&nbsp
					<input name="submitForm" type="submit" value="submit">
				</td>
				<td colspan="3" align="center">
					<input type="button" value="reset" onclick="doClearTime();">&nbsp
				</td>
            </tr>
    	</table>
	</form>
	<hr/>
	<h2>Result:</h2>
	<p>Found {{ .count }} records</p>
    {{ .output }}
</body>
</html>